.container {
    text-align: center;
    margin-top: 50px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
    
  h1 {
    color: #333;
    font-size: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 18px;
    color: #555;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .button:active {
    background-color: #45a049;
  }
  
  .result {
    margin-top: 30px;
    text-align: center;
    color: black;
  }
  
  h2 {
    font-size: 24px;
    color: black;
  }
  
  img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #555;
  }
  
  h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
  }
  
  td {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
  }
  
  td:first-child {
    font-weight: bold;
    width: 30%;
    background-color: #f2f2f2;
  }
  

  
  









  table {
    border: 5px solid red;
    margin-top: 20px;
    margin-bottom: 30px;
   
  }
  
  th,
  td {
    border: 1px solid red;
    padding: 8px;
    text-align: left;
  }

  




